KafkaServer {
  org.apache.kafka.common.security.plain.PlainLoginModule required
    username="admin"
    password="admin!QAz"
    user_admin="admin!QAz"
    user_sa="admin!QAz";
  org.apache.kafka.common.security.scram.ScramLoginModule required
    username="admin"
    password="admin!QAz"
    user_admin="admin!QAz"
    user_sa="admin!QAz";
};
KafkaClient {
  org.apache.kafka.common.security.plain.PlainLoginModule required
    username="admin"
    password="admin!QAz";
};
Client {
  org.apache.kafka.common.security.plain.PlainLoginModule required
    username="admin"
    password="admin!QAz";
};
